PyQt-Fluent-Widgets[full]==1.10.5 
PyQt5==5.15.11
psutil==7.1.3
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cublas-cu12==12.6.4.1
pyaudio==0.2.14
langdetect==1.0.9
f5-tts[all]==1.1.10
faster-whisper==1.2.1
onnxruntime-gpu==1.23.2
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.8.0+cu126
torchaudio==2.8.0+cu126
torchcodec==0.7
git+https://github.com/omogr/omogre.git#egg=omogre
