PyQt6-Fluent-Widgets[full]==1.10.1 
PyQt6==6.10.1
psutil==7.1.3
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cublas-cu12==12.6.4.1
langdetect==1.0.9
f5-tts==1.1.10
faster-whisper==1.2.1
--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.1+cu126
git+https://github.com/omogr/omogre.git#egg=omogre
